.kb-container {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.kb-cy {
  /* parent must have position: relative/absolute */
  width: 100%;
  display: flex;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.kb-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border-bottom: 1px solid #dddddd;
  background-color: #cccccc33;
}

.kb-toolbar .btn:not(:hover) {
  background-color: #ffffff;
}

.kb-node-selection-toolbar {
 position: absolute;
 top: 0;
 right: 0;
 width: 230px;
 background-color: #cccccc33;
 border-radius: 0.5rem;
 border: 1px solid #ccc;
 padding-bottom: 0.7rem;
}

.kb-node-selection-toolbar .btn-group, 
.kb-node-selection-toolbar .btn-group-vertical {
  background-color: #ffffff;
}

.kb-container .canvas-tooltip {
  display: inline-block;
  background-color: #ffffff;
  border: 3px solid #dddddd;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 0px 3px #999999;
  position: absolute;
}

.kb-container .canvas-tooltip-text {
  display: block;
}

.kb-container .canvas-create-tool {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1em 10px;
  box-shadow: 0px 0px 3px #999999;
  position: absolute;
  min-width:5em;
  max-width: 15em;
}
.kb-container .canvas-create-node-label {
  text-align:center;
}

.kb-container .bt-dialog {
  min-width: 5em;
}