#toolbar-material {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#toolbar-analyzer {
    position: absolute;
    top: 9em;
    left: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    background-color: #fff;
    max-width: 16em;
}