html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  padding: 0.5em;
}

main.cover, header.masthead, footer.mastfoot {
  width: 42rem;
  margin: 0 auto;
}

#main-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

#app-toolbar {
  padding: 0 0 0.5em;
  text-align: center;
}

#app-toolbar .separator {
  display: inline-block;
  width: 30px;
}

#app-toolbar .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

#app-toolbar .btn.slim {
  padding: .25rem .5rem;
}

.list-container {
  padding: 0 1rem 1rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.list {
  border-bottom: 1px solid #dedede;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.list.selected {
  background-color: #dedede;
}

.list-hover:hover {
  /* background-color: #efefef; */
  background: linear-gradient(90deg, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 100%);
}

.list-pointer {
  cursor: pointer;
}

.list:last-child {
  border-bottom: none;
}

.modal .modal-footer .btn {
  min-width: 8em;
}

.popup {
  box-shadow: 0px 0px 5px 0px #ccccccef;
}