/* Reading Text */

#popup-material-content {
  min-width: 300px;
  min-height: 220px;
  max-width: 750px;
  max-height: 75%;
  width: 45%;
  position: absolute;
  top: 7em;
  left: 1.5em;
  padding: 0.75em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#popup-material-content .move-handler {
  cursor: move;
}

#popup-material-content .bt-close {
  cursor: pointer;
  margin: 0.5em;
}

#popup-material-content .material-content-container {
  overflow: hidden;
  overflow-y: scroll;
}

/* Support */

#modal-support .modal-dialog {
  max-width: 90%;
}

#modal-support #bt-sentences-list {}

#exp-material-table td {
  cursor: pointer;
}

#exp-collab-sentence-selection {
  display: flex;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

#exp-collab-sentence-selection .nav {
  width: 70px;
  height: 70px;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin: 5px;
}

#exp-collab-sentence {
  flex: 1 1 auto;
}

#exp-collab .exp-progress {
  height: 10px;
  /* max-width: 700px;  */
  margin: 10px auto 0;
}

#bt-exp-collab-sentence-next, #bt-exp-collab-sentence-prev {
  width: 70px;
  text-align: center;
  vertical-align: middle;
}

#exp-collab-sentence-selection .nav:hover {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#exp-progress {
  max-width: 70%;
  margin: 0 auto;
}

#exp-progress-text {
  display: flex;
  justify-content: space-between;
  color: #777777;
  font-style: italic;
  font-size: 0.9em;
}

#form-exp-proposition-manual {
  padding-top: .5rem;
  padding-left: .5rem;
  border-radius: .5rem;
}

#exp-collab-suggestions {
  display: flex;
}

#exp-collab-propositions {
  flex-grow: 9999;
}

#exp-collab-nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#exp-collab-nav button {
  margin: 0.3rem;
  white-space: nowrap;
}

.prop-group .concept {
  padding: 3px 6px;
  border-radius: 4px;
}

.prop-group .concept-ref:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.bt-replace {
  cursor: pointer;
}

.bt-replace:hover {
  background-color: #666666;
}

.bt-add-proposition, .bt-edit-proposition {
  cursor: pointer
}

.keyword-score {
  cursor: default;
}

/* Sentences */

#modal-sentences .modal-dialog {
  max-width: 700px;
}

#modal-sentences .modal-content {
  box-shadow: 0 0 15px #777777;
  border: 3px solid #AAAAAA;
}

/* Manual Proposition */

#modal-proposition .modal-dialog {
  max-width: 700px;
}

#modal-proposition .modal-content {
  box-shadow: 0 0 15px #777777;
  border: 3px solid #AAAAAA;
}

#modal-proposition #exp-manual-konsep-a,
#modal-proposition #exp-manual-konsep-b {
  box-shadow: 0px 0px 5px orange;
}

#modal-proposition #exp-manual-link {
  box-shadow: 0px 0px 5px #777777;
}