html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  padding: 0.5em;
}

#main-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

#app-toolbar {
  padding: 0 0 0.5em;
  text-align: center;
}

#app-toolbar .separator {
  display: inline-block;
  width: 30px;
}

#app-toolbar .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .7rem;
  line-height: .5;
  border-radius: .2rem;
}

.container hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list-container {
  padding: 0 1rem 1rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.list {
  border-bottom: 1px solid #dedede;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.list:last-child {
  border-bottom: none;
}

.list.selected {
  background-color: #f4f4f4;
}

.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-hover:hover {
  /* background-color: #efefef; */
  background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
}

.list-pointer {
  cursor: pointer;
}

.modal .btn {
  min-width: 5rem;
}

.modal .list .btn {
  min-width: initial;
}

.modal .row .btn {
  min-width: initial;
}